.spinner {
  margin-top: 50px;
}

.z-mongo-admin .navbar > .navbar-inner > .container {
  margin-top: 0px;
}

.z-mongo-admin > .container {
  margin-top: 50px;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid #eee;
}
