.spinner {
  margin-top: 50px;
}

.z-mongo-admin .navbar > .navbar-inner > .container {
  margin-top: 0px;
}

.z-mongo-admin > .container {
  margin-top: 50px;
  padding-top: 10px;
  overflow-x: auto;
  border: 1px solid #eee;
  padding-left: 10px;
  padding-right: 10px;
}
