/* If you are editing this file and not seeing changes,
 * look into Houston._css_files (set in client/zma_helpers.coffee around line 45
 * as of writing this).
 */
.spinner {
  margin-top: 50px;
}

.houston .navbar > .navbar-inner > .container {
  margin-top: 0px;
}

.houston > .container {
  margin-top: 50px;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid #eee;
}

.houston textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.houston {
  visibility: visible;
}

.houston #houston-report-bug {
  float: left;
}

.houston #houston-error-img {
  padding-bottom: 10px;
}
